<div class="row">
    <div class="span4">
		<div class="hero-unit">
			<h2>
				Take Away
			</h2>
		</div>
	</div>
	<div class="span4">
		<div class="hero-unit">
			<h2>
				Catering
			</h2>
		</div>
	</div>
	<div class="span4">
		<div class="hero-unit">
			<h2>
				Promociones
			</h2>
		</div>
	</div>
</div>