.company_name {
}

.carousel {
	width: 940px;
	height: 294px;
	/*
	-webkit-box-shadow: 0 0 10px rgb(0,0,0);
	-moz-box-shadow: 0 0 10px rgb(0,0,0);
	box-shadow: 0 0 10px rgb(0,0,0);
	*/
}

tr.product_category td {
	background-color: #ececec;
}
